@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #E5E5E5;
}

header {
    padding: 0px 30px;
}

.brandName {
    font-family: 'Old Standard TT';
    color: #3E8BA8;
    font-size: xx-large;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

ul.menu {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

ul.menu li {
    margin: 0px 10px;
}

ul.menu li a {
    text-decoration: none;
    color: black;
    font-size: x-large;
}

.qboard {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3f8ba8;
}

.qboard-img {
    height: 300px;
}

.qboard-txt {
    color: white;
    font-size: xx-large;
}

.section2 {
    margin-top: 10px;
    background-color: white;
    margin-bottom: 10px;
}

.section2 .welcome {
    text-align: center;
    padding-top: 20px;
    height: 240px;
}

.welcome h2 {
    font-size: x-large;
    margin: 10px;
}

.welcome p {
    font-size: large;
    margin: 10px;
}

.welcome a {
    text-decoration: none;
    color: white;
    background-color: #3E8BA8;
    padding: 10px 30px;
    border-radius: 10px;
    margin: 10px;
    display: inline-block;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
    background-color: #3E8BA8;
    bottom: 0px;
}

footer p {
    margin: 0px 20px;
}

.nav-btn {
    display: none;
}

#nav-toggle {
    display: none;
}

@media only screen and (max-width: 920px) {
    ul.menu {
        display: none;
    }

    .nav-btn {
        display: inline-block;
        cursor: pointer;
        border: 1px solid black;
        padding: 0px 5px 10px 5px;
    }

    .nav-btn label {
        user-select: none;
        cursor: pointer;
    }

    .nav-icon {
        display: inline-block;
        width: 18px;
        height: 2px;
        background-color: gray;
        position: relative;
    }

    .nav-icon:before {
        display: inline-block;
        width: 18px;
        height: 2px;
        background-color: gray;
        content: '';
        position: absolute;
        top: 5px;
    }

    .nav-icon:after {
        display: inline-block;
        width: 18px;
        height: 2px;
        background-color: gray;
        content: '';
        position: absolute;
        top: -5px;
    }

    #nav-toggle:checked ~ .nav-btn label .nav-icon:after {
        transform: rotate(45deg);
        top: 0px;
    }

    #nav-toggle:checked ~ .nav-btn label .nav-icon:before {
        transform: rotate(-45deg);
        top: 0px;
    }

    #nav-toggle:checked ~ .nav-btn label .nav-icon {
        height: 0px;
    }

    #nav-toggle:checked ~ ul.menu {
        display: inline-block;
        position: absolute;
        top: 50px;
        left: 0px;
        background-color: white;
        width: 100%;
    }

    #nav-toggle:checked ~ ul.menu li {
        margin: 20px 10px;
        text-align: center;
    }
}

@media only screen and (max-width: 720px) {
    .qboard {
        flex-direction: column;
    }

    .qboard-txt {
        text-align: center;
    }

    footer {
        flex-wrap: wrap;
    }
}
